<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            HoshiHost
        </title>
        <link rel="stylesheet" href="CSS/style.css">
        <script src="{{ url_for('static', filename='javascript/server_management.js') }}" defer></script> 
    </head>
    <body>
        <nav>
            <a href="index.html"><img src="../static/images/HoshiHost_Logo.png" alt="HoshiHost logo"></a>

            <div class="Navlinks">
                <a href="login.html">Login</a>
                <a href="login.html">Sign-up</a>
            </div>
        </nav>
    </body>
</html>
